ColumnLimit: 0
IndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: All
SortIncludes:
  Enabled: false

AlignTrailingComments: true
AllowAllConstructorInitializersOnNextLine: true

AllowShortFunctionsOnASingleLine: "All"
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: "Leave"

PointerAlignment: "Left"
ReferenceAlignment: "Pointer"
SpaceBeforeCpp11BracedList: true

BinPackArguments: false
AllowAllArgumentsOnNextLine: true
LambdaBodyIndentation: "Signature"
AllowShortLambdasOnASingleLine: "None"
AllowShortBlocksOnASingleLine: "Never"
PenaltyBreakBeforeFirstCallParameter: 0
ContinuationIndentWidth: 4
AlignAfterOpenBracket: BlockIndent

IndentCaseLabels: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: true
  SplitEmptyNamespace: true
  AfterStruct: true
  AfterClass: true
  AfterFunction: true
  AfterUnion: true
