[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "external/libtess2"]
	path = external/libtess2
	url = git@github.com:memononen/libtess2.git
[submodule "external/freetype"]
	path = external/freetype
	url = git@github.com:freetype/freetype.git
